.venv
.env
src/agents/__pycache__/query_router.cpython-311.pyc
src/models/__pycache__/model_selector.cpython-311.pyc
src/retrievers/__pycache__/hybrid_retriever.cpython-311.pyc
data/embeddings/chroma.sqlite3
